.btn {
    background-color: red;
    border: lightsalmon;
    color: rgb(71, 102, 138);
    padding: 15px 32px;
    text-align: center;
    text-decoration: rgb(230, 131, 61);
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}