.btn {
    background-color: rgb(221, 151, 151);
    border: rgb(170, 96, 67);
    color: rgb(71, 102, 138);
    text-align: center;
    text-decoration: rgb(230, 131, 61);
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}